/*
 * Base structure
 */
 
/* Move down content because we have a fixed navbar that is 50px tall */
.header{
	background: #f8f9fa;
	height:50px;
}
body{
	min-height: 1000px;
}
ul li a span{
	color: #dc3545  !important;
}

.menu-button{
	background-color: transparent !important;
	color: #dc3545  !important;
	border: 1px solid #dc3545 !important;
}
.menu-button:hover{
	background-color: #dc3545 !important;
	color: white !important;
}
 
/*
 * Main content
 */
 
